.div-table {
    display: flex;
}

table {
    flex: auto;
}

.margen-principal {
    margin: auto 3rem;
}

.mat-header-cell {
    text-align: center;
}

.cell-precio {
    text-align: right;
}

.cell-acciones {
    text-align: center;
}