<mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/inicio">
      Tienda
    </span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <mat-nav-list *ngFor="let link of links">
      <a [routerLink]="link.url" (click)="sidenav.close()" mat-list-item>{{link.nombre}}</a>
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
